@if(recipe(); as recipe) {
  <mat-card class="recipe-card">
    <div class="card-image-wrapper">
      <img [src]="recipe.imageUrl" [alt]="recipe.title" class="recipe-image" (click)="openRecipeModal(recipe)" />

      <div class="card-actions-overlay">
        <button mat-icon-button class="overlay-btn favorite-btn" [class.is-favorite]="isFavorite" (click)="toggleFavorite(recipe.id)" aria-label="Добавить в избранное">
          <mat-icon>{{ isFavorite ? 'star' : 'star_border' }}</mat-icon>
        </button>
        <button mat-icon-button class="overlay-btn dislike-btn" (click)="onDislike($event.target.toString())" aria-label="Не нравится">
          <mat-icon>thumb_down_off_alt</mat-icon>
        </button>
      </div>
    </div>

    <mat-card-content class="card-body" (click)="openRecipeModal(recipe)">
      <h3 class="recipe-title">{{ recipe.title }}</h3>
      <div class="tags-container">
        @for (tag of recipe.tags; track tag) {
          <span class="custom-tag">{{ tag }}</span>
        }
      </div>

      <div class="nutrients-grid">
        <div class="nutrient-item"><span class="value">{{ recipe.calories }}</span><span class="label">Ккал</span></div>
        <div class="nutrient-item"><span class="value">{{ recipe.proteins }}г</span><span class="label">Б</span></div>
        <div class="nutrient-item"><span class="value">{{ recipe.fats }}г</span><span class="label">Ж</span></div>
        <div class="nutrient-item"><span class="value">{{ recipe.carbs }}г</span><span class="label">У</span></div>
      </div>

      <p class="recipe-description" (click)="openRecipeModal(recipe)">{{ recipe.description }}</p>

    </mat-card-content>

    <mat-card-footer class="card-footer">
      <button mat-button color="primary" class="details-btn" (click)="openRecipeModal(recipe)">
        Подробнее
      </button>
    </mat-card-footer>
  </mat-card>
}
