<div class="grid-viewport-wrapper">

  <cdk-virtual-scroll-viewport [itemSize]="rowHeight" class="grid-viewport">

    <div *cdkVirtualFor="let row of chunkedRows(); trackBy: trackByRow" class="grid-row">

      @for (recipe of row; track recipe.id) {
        <div class="grid-column">
          <ng-container
            [ngTemplateOutlet]="itemTemplate()"
            [ngTemplateOutletContext]="{ $implicit: recipe }">
          </ng-container>
        </div>
      }

    </div>

    @if (hasMoreItems && chunkedRows.length > 0) {
      <div class="load-more-container">
        <button mat-stroked-button color="primary" class="load-more-btn" (click)="onLoadMoreClick()">
          Загрузить еще рецепты
        </button>
      </div>
    }

  </cdk-virtual-scroll-viewport>
</div>
